/* step 1
Animate the logo with keyframes.
It should start at a width of 25px and grow to 475px
It should also start with an opacity of 0 and end with an opacity of 1. 
The animation should take 5 seconds and only happen when the page is loaded. */
@keyframes logo {
    0% {
        width: 25px;
        opacity: 0;
    }
    100% {
        width: 475px;
        opacity: 1;
    }
}
#logo {
    animation-name: logo;
    animation-duration: 5s;
}
/* 會反彈？？ */

/* step 2 
Edit the body element to use the Poppins font (using Google fonts) with serif as a backup.  It should also use the image “concrete_seamless.png” as a background-image with a backup color of #f1f1f1.
*/
body {
    font-family: 'Poppins', serif;
    background-image: url('../images/concrete_seamless.png');
    background-color: #f1f1f1;
}

/* step 3 
Edit the css for the header tag (all instances) to use flex to match our example
*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* step 4 
Edit the css for the nav_links class to use flex to match our example*/
.nav_links {
    display: flex;
    flex-direction: column;
}

/* step 5
Style the links so that they have the same color even after they have been visited. */
a:link, a:visited{
    color: blue;
    text-decoration: underline;
}
/* how about current page? */

/* step 6
Identify the proper selector to style ONLY those header elements that are direct children of a card class.  The required styling is the following: 
background: #288088,
solid 2px border using #45ADAD,
20px of padding on the top and the bottom, 
50px border-radius on the top left and right corners.  */
.card > header {
    background: #288088;
    border: solid 2px #45ADAD;
    padding: 20px 0;
    border-radius: 50px 50px 0 0
}

/* step 7
Edit the css for the card class to match our example. Achieve this by using a flex-property to specify an initial “size” of 450px.  You need to think about this from a “flex” perspective and realize that flex-direction will affect the size of the elements */
.card {
    display: flex;
    flex-direction: column;
    width: 450px;
}

/* step 8
Edit the css for the pricing class to match our example.  */
.pricing {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* for 1200 and 1500 */

/* step 9
Style the images in the gallery class. These elements will have a solid 10px border with a color of #50C7C7, 10px margin on all four sides and a width of 300px. */
.gallery img {
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}

/* step 10
Edit the css for the gallery class to use flex to match our example. (You may want to look at the screen shots from 1200px and 1500px as well -  the changes are not from media queries, but from the use of flex.) */
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* media query 
Edit the css for the header tag (all instances) and the nav_links class
Edit the css for the pricing and card classes
Modify the first header (the one not inside main) so that it remains visible at the top of the screen even as we scroll down. Make sure that it is always visible.
*/
@media (min-width: 900px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .nav_links {
        display: flex;
        flex-direction: row;
    }
    .pricing {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    .card {
        display: flex;
        width: 275px;
        height: auto;
    }
    main {
        margin-top: auto;
    }
}

@media screen and (prefers-reduced-motion: reduce) {
    #logo {
        animation: none;
    }
}

@media print {
    body {
        font-family: Arial, Helvetica;
        background-image: none;
    }
    .nav_links {
        justify-content: space-evenly;
    }
    .pricing {
        align-items: flex-end;
    }
    .card {
        border: 2px solid #45ADDD;
        flex-basis: 325px;
    }
    .gallery {
        display: none;
    }
}